---
---
<div class="marquee-section">
  <div class="marquee-track">
    <span class="marquee-item"><span class="marquee-dot"></span>Peonies</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Ranunculus</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Dahlias</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Garden Roses</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Tulips</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Sweet Peas</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Anemones</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Lisianthus</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Peonies</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Ranunculus</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Dahlias</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Garden Roses</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Tulips</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Sweet Peas</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Anemones</span>
    <span class="marquee-item"><span class="marquee-dot"></span>Lisianthus</span>
  </div>
</div>
